@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-DmSans {
  font-family: var(--font-dm-sans);
}


:root{
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}

h1,h3,h4,h5,h6{
color: var(--color-heading);
font-family: var(--font-dm-sans);
}


input,button,select,textarea{
  outline: none;
  border:none
}
a{
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.Close{
  clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
}
.Open{
  clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
}


.hero {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
}
.content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}
.content p{
  color: var(--p-color);
}

.content h4{
  text-transform: uppercase;
  font-size: 1vw;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.4vw;
}
.content h3{
  font-size: 3vw;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: bolder;
  line-height: 1;
}
.content p{
  font-size: 1.1vw;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}
.btn{
  padding: 8px 15px;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 30px;
  cursor: pointer;
  background: var(--main-color);
  color: var(--white-color);
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease;
  width: max-content;
  font-weight: 500;
}
.btn:hover {
  transform: scale(0.91);
}

.top_slide::after{
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100px;
  height: 2px;
  background-color: var(--main-color);

}

.ParaGraph{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


.Card:hover .RemoveIcon{
  right: 15px;
}